<div class="panel col-xs-11 ml3p">

  <div class="mt30 ml20">
    <div class="panel panel-info">
      <div class="panel-heading text-info">{{courseName}}</div>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Test</th>
          <th>Description</th>
          <th>status</th>
          <th>score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of tests; let i=index">
          <th scope="row" (click)="select(i)">{{i+1}}</th>
          <td (click)="select(i)">{{test.name}}</td>
          <td (click)="select(i)">{{test.description}}</td>
          <td><span [class]="test.status"></span></td>
          <td>{{test.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
